#song-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: absolute;
    left: 10px;
}

#album-art {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
}

#song-title,
#artist-name {
    margin: 0;
    font-size: medium;
    color: white;
    padding: 3px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #000000;
    z-index: 100;
}


.audio-player {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.control-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

#seek-bar {
    width: 100%;
}

#seek-bar:hover {
    transform: scale(1.1);
}

#volume-bar {
    width: 100px;
}

#seek-bar,
#volume-bar {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px;
    background: #ccc;
    outline: none;
    overflow: hidden;
}

#seek-bar::-webkit-slider-thumb,
#volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background-image: url('.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -13px;
}

#pList {
    position: absolute;
    right: 0;
}

#volume-bar {
    position: absolute;
    right: 80px;
}

#mute {
    position: absolute;
    right: 180px;
}

#current-time, #duration {
    color: white;
}


/* 사이드바 모달 */
.modal1 {
    position: fixed;
    display: none;
    top: 10%;
    right: 0;
    width: 300px;
    height: 81.6%;
    background: #1e1e1e;
    border-left: 3px solid #324024;
    border-top-left-radius: 8px;
    z-index: 999;
    transform: translateX(100%); /* 기본적으로 오른쪽으로 숨겨둔다 */
    transition: transform 0.3s ease-in-out;
}


/* 모달창 내용 */
.modal_form {
    position: relative;
    padding: 20px;
    width: 100%;
    height: 94%;
    overflow-y: auto;

}

/* 모달 열기 버튼 */
.sidebar-toggle {
    position: fixed;
    right: 20px;
    top: 20px;
    background: #e91429;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
}

/* 닫기 버튼 */
#modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* 기본 모달 스타일 */
.modal_title {
    text-align: center;
    font-size: 20px;
    text-shadow: -1px 0 #ff6f6f, 0 1px #ff6f6f, 1px 0 #ff6f6f, 0 -1px #ff6f6f;
    font-weight: bold;
    color: #f09995;
    padding: 0;
    height: 30px;
    line-height: 30px;
}

.modal-body {
    padding: 20px;
    text-align: center;
}

/* 전체 삭제 버튼 스타일 */
#clear-history-btn {
    position: fixed;
    bottom: 20px; /* 모달의 하단에서 20px 위에 위치 */
    left: 50%;
    transform: translateX(-50%); /* 가로 중앙 정렬 */
    background-color: #899853;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%; /* 버튼을 일정 크기로 설정 */
    max-width: 250px; /* 버튼의 최대 너비 */
}

#clear-history-btn:hover {
    background-color: #ff6f6f; /* 버튼 hover 효과 */
}